<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>American Freight Logistics, inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
             
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
     <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>     
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">American Freight Logictisc INC.</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        
      </ul>
      <ul class="nav navbar-nav">
        <li><a><span class="glyphicon glyphicon-phone"></span>847-672-6351</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid text-center">    
  <div class="row content">
	 <div class="col-sm-12" style="padding: 0">
	  <img class=".img-responsive" src="../static/img/highway.jpg" style="height: auto; max-width: 100%; "
	             th:src="@{img/highway.jpg}"/>
	  </div>
  	
  
    <div class="col-sm-12 text-center"> 
    <div id="aboutContent">
      <h1>Services</h1>
      
      <div class="col-sm-12">
      <img class="col-sm-2 .img-responsive" src="../static/img/ltl.jpg" style="height: auto; max-width: 100%; "
	             th:src="@{img/ltl.jpg}"/>
	             
	  <h3 class="col-sm-8">Less than Load Trucking (LTL)</h3>           
      <p class="col-sm-10">
      Less than Load Trucking (LTL) allows you to ship 
      your freight and only pay for the space you use.  
      This service keeps your logistics needs lower in price, 
      while ensuring that you receive the best American Freight Logistics customer services.  
      We have a large network of terminals so we can guarantee 
      that your regional and long-haul needs are met on budget and on time.  
      It’s part of how we can achieve a 98% on-time performance level. 
      </p>
      </div>
       <div class="col-sm-12">
      
	             
	  <h3 class="col-sm-12">Full Truckload (TL)</h3>           
      <p class="col-sm-10">
      Full Truckload (TL) services all 
      you to ship larger loads of products that require to be 
      transported using the entire truck. We are able to delivery our customers' 
      shipments throughout the continental United States. We are also able to do 
      cross dock shipments. We make it our priority to make sure all your loads are
       handled in a concise and efficient way, because we realize that you are entrusting 
       us with the very essential responsibility of transporting your shipment. 
      </p>
      <img class="col-sm-2 .img-responsive" src="../static/img/truck.jpg" style="height: auto; max-width: 100%; "
	             th:src="@{img/truck.jpg}"/>
      </div>
      
      <div class="col-sm-12">
      
      <img class="col-sm-2 .img-responsive" src="../static/img/warehouse.jpg" style="height: auto; max-width: 100%; "
	             th:src="@{img/warehouse.jpg}"/>
      <h3 class="col-sm-8">Cross-dock/Warehouse </h3>           
      <p class="col-sm-10">
      We can handle your warehouse needs, such as cross-dock, to give you the most efficient  
      and budget-conscious logistics experience. 
      </p>
      
      </div>     
           
      </div>     
      
    </div>
   
  </div>
</div>

<footer class="container-fluid text-center">
  	<div class="text-center" >
            <br></br>
            <a  href="" target="_blank"><i  id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            
            <a href="/contact"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
            <br></br>
            <p>© 2017 - American Freight Logistics, inc.</p>
        </div>
</footer>

</body>
</html>